<h1>Manage Customer</h1>

<div>
  <label for="name" class="form-label">Name</label>
  <input id="name" [ngClass]="{'is-invalid' : !viewModel.fieldValid('name')}" [(ngModel)]="viewModel.name" class="form-control" required>
  <div [hidden]="viewModel.fieldValid('name')" class="alert alert-danger">{{viewModel.getErrorMessageFor('name')}}</div>
</div>

<!-- <app-custtest></app-custtest>
<app-custtest></app-custtest>
<app-custtest></app-custtest>
<app-custtest></app-custtest>
<app-custtest></app-custtest>
<app-custtest></app-custtest> -->

<div class="button-grouping">
  <button [disabled]="!viewModel.isDirty" (click)="save()" class="btn btn-primary btn-sm">
    Save
  </button>
  <button (click)="goBack()" class="btn btn-secondary btn-sm">
    Cancel
  </button>
</div>