<h1>Manage Customer</h1>

<ul *ngIf="viewModel.errors">
  <li *ngFor="let error of viewModel.errors">{{error.message || error}}</li>
</ul>

<div>
  <label for="name" class="form-label">Name</label>
  <input id="name" [(ngModel)]="viewModel.name" class="form-control">
  <label>{{viewModel.getErrorMessageFor('name')}}</label>
</div>

<div class="button-grouping">
  <button [disabled]="!viewModel.isDirty" (click)="save()" class="btn btn-primary btn-sm">
    Save
  </button>
  <button (click)="goBack()" class="btn btn-secondary btn-sm">
    Cancel
  </button>
</div>