<h1>Customers</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <a
          routerLink="/customers/new"
          class="btn btn-success small-button">
          Create New
        </a>
      </th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of viewModel.data">
      <td></td>
      <td><a routerLink="/customers/{{customer.id}}">{{ customer.name }}</a></td>
      <td>
        <button
          (click)="destroy(customer.id)"
          class="btn btn-secondary btn-sm">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>