#app {
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding-left: 10px;
  padding-top: 15px;
}

nav a:link {
  text-decoration: none;
}

nav a:active {
  color: white;
}

nav a {
  color: gray;
}

.numericCell {
  text-align: center
}

.cancelButton {
  margin: auto 10px;
}

.orderItemsList {
  margin-top: 10px;
}