#app {
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin: 0 auto;
}

a.active {
  color: orange;
}

nav {
  padding-top: 20px;
}

.numericCell {
  text-align: center
}

.cancelButton {
  margin-left: 10px;
}

.orderItemsList {
  margin-top: 10px;
}