/* You can add global styles to this file, and also import other style files */
.normalfont {
  font-weight: normal;
}

.main {
  padding: 10px;
}

.form-label {
  font-weight: bold;
}

.button-grouping button {
  margin-right: 5px;
  margin-top: 20px;
}

.small-button {
  font-size: 75%;
  padding: .25em .4em;
}

.field-error {
  padding-left: 5px;
  font-style: italic;
}

#toast-container > div {
  opacity:1;
}