/* You can add global styles to this file, and also import other style files */
.normalfont {
  font-weight: normal;
}

.main {
  padding: 10px;
}

.form-label {
  font-weight: bold;
}

.button-grouping button {
  margin-right: 5px;
}

.small-button {
  font-size: 75%;
  padding: .25em .4em;
}