<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
       <script src="../lodash/lodash.min.js"></script>
       <script src="../peasy-js/lib/peasy.js"></script>
       <script src="../js/ordersdotcom.js"></script>
       <script src="../js/main.js"></script>
    </body>
</html>
