<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../bootstrap/dist/css/bootstrap.min.css' />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
      </div>
    </nav>
    <div id="app" class="jumbotron">
      <div class="container">
        <img src="img/peasy.png" align="center" style="width: 30%;height: 30%;display:block;margin:30px auto" alt="peasy" />
        <h2>
          <%= title %>
        </h2>
        <p>This sample application is a ficticious order entry / inventory management system.  All efforts were made to keep these applications as simple as possible to focus on how a middle tier can be written with peasy-js and consumed by multiple clients (client and server).</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2><img src="img/react.png" style="width: 30%;height: 30%"></img></h2>
          <p>This application was developed with peasy-js and reactjs.  It can be configured to consume in-memory data proxies or to communicate with the web api.</p>
        </div>
        <div class="col-md-3">
          <h2><img src="img/AngularJS-large.png" style="width: 25%;height: 25%"></img></h2>
          <p>Coming Soon!</p>
        </div>
        <div class="col-md-3">
          <h2>
            <img src="img/node.png" style="width: 30%;height: 30%"></img>
            <img src="img/express.png" style="padding-top: 10px;width: 20%;height: 20%"></img>
            <img src="img/mongo.png" style="width: 30%;height: 30%"></img>
          </h2>
          <p>This web api application was developed with peasy-js, express, mongodb, and nodejs.  It consumes the business logic written with peasy-js.</p>
        </div>
        <div class="col-md-3">
          <h2><img src="img/plain.png" style="width: 20%;height: 20%"></img></h2>
          <p>This is a super simple demo that shows how a plain javascript app might consume your business logic with peasy-js</p>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-3">
          <p><a class="btn btn-primary btn-sm center-block" href="http://localhost:3000/react" role="button">Let's go!</a></p>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
          <p><a class="btn btn-primary btn-sm center-block" href="https://github.com/peasy/peasy-js-samples/wiki/Application-Walkthrough" role="button">Let's go!</a></p>
        </div>
        <div class="col-md-3">
          <p><a class="btn btn-primary btn-sm center-block" href="http://localhost:3000/react" role="button">Let's go!</a></p>
        </div>
      </div>
    </div>
    <script src="../react/dist/react.js"></script>
    <script src="../react-dom/dist/react-dom.js"></script>
    <script src="../axios/dist/axios.min.js"></script>
    <script src="../lodash/lodash.min.js"></script>
    <script src="../peasy-js/lib/peasy.js"></script>
  </body>
</html>

