<table>
  <thead>
    <td><a routerLink="/orders/{{orderId}}/orderitems/new">Add Item</a></td>
    <td></td>
    <td>Product</td>
    <td>Price</td>
    <td>Quantity</td>
    <td>Amount</td>
    <td>Status</td>
    <td>Submitted On</td>
    <td>Shipped On</td>
    <td></td>
  </thead>
  <tbody>
    <tr *ngFor="let item of viewModel.data">
      <td></td>
      <td><button [disabled]="!viewModel.canShip(item)" (click)="viewModel.ship(item)">Ship</button></td>
      <td><a routerLink="/orders/{{orderId}}/orderitems/{{item.id}}">{{ viewModel.getProductNameFor(item.productId) }}</a></td>
      <td>{{ item.price }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.amount }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.submittedOn }}</td>
      <td>{{ item.shippedOn }}</td>
      <td><button (click)="viewModel.destroy(item.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
