<table class="table">
  <thead>
    <tr>
      <th scope="col">
        <a
          routerLink="/orders/{{orderId}}/orderitems/new"
          class="badge badge-success normalfont">
          Add Item
        </a>
      </th>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
      <th scope="col">Status</th>
      <th scope="col">Submitted On</th>
      <th scope="col">Shipped On</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of viewModel.data">
      <td>
        <button [disabled]="!viewModel.canShip(item)"
          (click)="viewModel.ship(item)"
          class="badge badge-info normalfont">
          Ship
        </button>
      </td>
      <td><a routerLink="/orders/{{orderId}}/orderitems/{{item.id}}">{{ viewModel.getProductNameFor(item.productId) }}</a></td>
      <td>{{ item.price | currency }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.amount | currency }}</td>
      <td>{{ item.status }}</td>
      <td>{{ item.submittedOn | date:'short' }}</td>
      <td>{{ item.shippedOn | date:'short'}}</td>
      <td>
        <button
          (click)="viewModel.destroy(item.id)"
          class="badge badge-secondary normalfont">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
