<h1>Manage Inventory Item</h1>
<div>
  <div>
    <label *ngIf="viewModel.isBusy">Loading ....</label>
    <ul *ngIf="viewModel.errors">
      <li *ngFor="let error of viewModel.errors">{{error.message || error}}</li>
    </ul>

    <label>Name</label>
    <div>
      <label>{{viewModel.name}}</label>
      <label>{{viewModel.getErrorMessageFor('name')}}</label>
    </div>

    <label for="quantityOnHand">Quantity</label>
    <div>
      <input id="quantityOnHand" [(ngModel)] = "viewModel.quantityOnHand">
      <label>{{viewModel.getErrorMessageFor('quantityOnHand')}}</label>
    </div>

  </div>
</div>
<button
  [disabled]="!viewModel.isDirty"
  (click)="save()"
  class="btn btn-primary btn-sm">
  Save
</button>
<button
  (click)="goBack()"
  class="btn btn-secondary btn-sm">
  Cancel
</button>