<h1>Manage Inventory Item</h1>

<div>
  <label class="form-label">Name</label> {{viewModel.name}}
</div>

<div>
  <label for="quantityOnHand" class="form-label">Quantity</label>
  <input id="quantityOnHand" type="number" [(ngModel)]="viewModel.quantityOnHand" class="form-control">
  <div [hidden]="viewModel.fieldValid('quantityOnHand')" class="alert alert-danger">{{viewModel.getErrorMessageFor('quantityOnHand')}}</div>
</div>

<div class="button-grouping">
  <button [disabled]="!viewModel.isDirty" (click)="save()" class="btn btn-primary btn-sm">
    Save
  </button>
  <button (click)="goBack()" class="btn btn-secondary btn-sm">
    Cancel
  </button>
</div>