<h1>Manage Category</h1>

<div>
  <label for="name" class="form-label">Name</label>
  <input id="name" [ngClass]="{'is-invalid' : !viewModel.fieldValid('name')}" [(ngModel)]="viewModel.name" class="form-control" required>
  <div [hidden]="viewModel.fieldValid('name')" class="alert alert-danger">{{viewModel.getErrorMessageFor('name')}}</div>
</div>

<div class="button-grouping">
  <button
    [disabled]="!viewModel.isDirty"
    (click)="save()"
    class="btn btn-primary btn-sm">
    Save
  </button>
  <button
    (click)="goBack()"
    class="btn btn-secondary btn-sm">
    Cancel
  </button>
</div>