<h1>Manage Category</h1>
<div>
  <div>
    <!-- <label *ngIf="viewModel.isBusy">Loading ....</label> -->
    <ul *ngIf="viewModel.errors">
      <li *ngFor="let error of viewModel.errors">{{error.message || error}}</li>
    </ul>
    <label for="name">Name</label>
    <div>
      <input id="name" [(ngModel)] = "viewModel.name">
      <label>{{viewModel.getErrorMessageFor('name')}}</label>
    </div>
  </div>
</div>
<button
  [disabled]="!viewModel.isDirty"
  (click)="save()"
  class="btn btn-primary btn-sm">
  Save
</button>
<button
  (click)="goBack()"
  class="btn btn-secondary btn-sm">
  Cancel
</button>