<h1>Orders</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <a
          routerLink="/orders/new"
          class="badge badge-success normalfont">
          Create New
        </a>
      </th>
      <th>Id</th>
      <th>Order Date</th>
      <th>Customer</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of viewModel.data">
      <td></td>
      <td><a routerLink="/orders/{{item.id}}">{{ item.id }}</a></td>
      <td>{{ item.orderDate }}</td>
      <td>{{ viewModel.getCustomerNameFor(item.customerId) }}</td>
      <td>{{ viewModel.getTotalFor(item.id) | currency }}</td>
      <td>{{ viewModel.getStatusFor(item.id) }}</td>
      <td>
        <button
          (click)="viewModel.destroy(item.id)"
          class="btn btn-secondary btn-sm">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
