<h1>Products</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>
        <a routerLink="/products/new" class="btn btn-success small-button">
          Create New
        </a>
      </th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of viewModel.data">
      <td></td>
      <td><a routerLink="/products/{{product.id}}">{{ product.name }}</a></td>
      <td>
        <button
          (click)="viewModel.destroy(product.id)"
          class="btn btn-secondary btn-sm">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>