<h1>Manage Order Item</h1>

<div>
  <label for="categoryId" class="form-label">Category</label>
  <select id="categoryId" [(ngModel)]="viewModel.categoryId" class="form-control">
    <option *ngFor="let category of viewModel.categories" value="{{category.id}}">{{category.name}}</option>
  </select>
  <div [hidden]="viewModel.fieldValid('categoryId')" class="alert alert-danger">{{viewModel.getErrorMessageFor('categoryId')}}</div>
</div>

<div>
  <label for="productId" class="form-label">Product</label>
  <select id="productId" [(ngModel)]="viewModel.productId" class="form-control">
    <option *ngFor="let product of viewModel.products" value="{{product.id}}">{{product.name}}</option>
  </select>
  <div [hidden]="viewModel.fieldValid('productId')" class="alert alert-danger">{{viewModel.getErrorMessageFor('productId')}}</div>
</div>

<div>
  <label class="form-label">In Stock:</label> {{ viewModel.inStock }}
</div>

<div>
  <label class="form-label">Price:</label> {{ viewModel.price | currency }}
</div>

<div>
  <label for="quantity" class="form-label">Quantity</label>
  <input id="name" [(ngModel)]="viewModel.quantity" class="form-control">
  <div [hidden]="viewModel.fieldValid('quantity')" class="alert alert-danger">{{viewModel.getErrorMessageFor('quantity')}}</div>
</div>

<div>
  <label class="form-label">Amount:</label> {{ viewModel.amount | currency }}
</div>

<div class="button-grouping">
  <button [disabled]="!viewModel.isDirty" (click)="save()" class="btn btn-primary btn-sm">
    Save
  </button>
  <button (click)="goBack()" class="btn btn-secondary btn-sm">
    Cancel
  </button>
</div>
