<h1>Manage Product</h1>

<div *ngIf="viewModel.errors.length">
  <ul class="text-danger">
    <li *ngFor="let error of viewModel.errors">{{error.message || error}}</li>
  </ul>
</div>

<div>
  <label for="name" class="form-label">Name</label>
  <input id="name" [(ngModel)]="viewModel.name" class="form-control">
  <label>{{viewModel.getErrorMessageFor('name')}}</label>
</div>

<div>
  <label for="price" class="form-label">Price</label>
  <input id="price" [(ngModel)]="viewModel.price" class="form-control">
  <label>{{viewModel.getErrorMessageFor('price')}}</label>
</div>

<div>
  <label for="categoryId" class="form-label">Category</label>
  <select id="categoryId" [(ngModel)]="viewModel.categoryId" class="form-control">
    <option *ngFor="let category of viewModel.categories" value="{{category.id}}">{{category.name}}</option>
  </select>
  <label>{{viewModel.getErrorMessageFor('categoryId')}}</label>
</div>

<div class="button-grouping">
  <button [disabled]="!viewModel.isDirty" (click)="save()" class="btn btn-primary btn-sm">
    Save
  </button>
  <button (click)="goBack()" class="btn btn-secondary btn-sm">
    Cancel
  </button>
</div>
