<h1>Manage Product</h1>
<div>
  <div>
    <label *ngIf="viewModel.isBusy">Loading ....</label>
    <ul *ngIf="viewModel.errors">
      <li *ngFor="let error of viewModel.errors">{{error.message || error}}</li>
    </ul>

    <label for="name">Name</label>
    <div>
      <input id="name" [(ngModel)] = "viewModel.name">
      <label>{{viewModel.getErrorMessageFor('name')}}</label>
    </div>

    <label for="price">Price</label>
    <div>
      <input id="price" [(ngModel)] = "viewModel.price">
      <label>{{viewModel.getErrorMessageFor('price')}}</label>
    </div>

    <label for="categoryId">Category</label>
    <div>
      <select id="categoryId" [(ngModel)]="viewModel.categoryId">
        <option *ngFor="let category of viewModel.categories" value="{{category.id}}">{{category.name}}</option>
      </select>
      <label>{{viewModel.getErrorMessageFor('categoryId')}}</label>
    </div>

  </div>
</div>
<button
  [disabled]="!viewModel.isDirty"
  (click)="save()"
  class="btn btn-primary btn-sm">
  Save
</button>
<button
  (click)="goBack()"
  class="btn btn-secondary btn-sm">
  Cancel
</button>