<h1>Manage Order</h1>
<div>
  <div>
    <!-- <label *ngIf="viewModel.isBusy">Loading ....</label> -->
    <ul *ngIf="viewModel.errors">
      <li *ngFor="let error of viewModel.errors">{{error.message || error}}</li>
    </ul>

    <div>
      <label for="id">Id:</label>{{ viewModel.id }}
    </div>

    <label for="customerId">Customer</label>
    <div>
      <select id="customerId" [(ngModel)]="viewModel.customerId">
        <option *ngFor="let customer of viewModel.customers" value="{{customer.id}}">{{customer.name}}</option>
      </select>
      <label>{{viewModel.getErrorMessageFor('customerId')}}</label>
    </div>

  </div>
</div>

<div *ngIf="!viewModel.isNew">
  <app-order-item-list [orderId]="viewModel.id"></app-order-item-list>
</div>

<div>
  <label>Total:</label>{{ viewModel.orderTotal }}
</div>

<button
  [disabled]="!viewModel.isDirty"
  (click)="saveOrder()"
  class="btn btn-primary btn-sm">
  Save
</button>

<button
  (click)="goBack()"
  class="btn btn-secondary btn-sm">
  Done
</button>

<button
  [disabled]="!viewModel.canSubmit"
  (click)="viewModel.submitOrder()"
  class="btn btn-info btn-sm">
  Submit Order
</button>